.title {
  margin-top: 100px;
  font-size: 36px;
  text-align: center;
}

.imgAIVIA {
  margin-left: 10vw;
  width: 80vw;
  height: 70vh;
  background-image: url(../img/rectangle-53.png);
  background-position: center;
}

.itext h1 {
  color: #2f7adb;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
}
.bigtitle {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
