.produit-ombre {
  margin-top: 7vh;
  width: 100%;
  height: 100%;
}
.product-shadow {
  display: none;
}
section {
  text-align: center;
  margin: 20px;
}
section span {
  color: #2f7adb;
}
section h2 {
  margin: 6vh;
}
span.red {
  color: red;
}
.produit-technique {
  margin: 40px 0px 0px 0px;
}
.produit-technique img {
  width: 100vw;
  height: 30vh;
}

.memory {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-template-areas:
    " a b "
    " c b ";
  grid-gap: 10px;
}
.memory h4 {
  grid-area: a;
  font-size: 20px;
  text-align: left;
  color: #2f7adb;
}
.memory p {
  grid-area: b;
  text-align: left;
}
.memory .icon {
  width: 70px;
  height: 70px;
  grid-area: c;
  align-self: center;
  text-align: end;
}
.appli {
  display: flex;
}
.heart {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-template-areas:
    " a b "
    " a c ";
  grid-gap: 10px;
}
.heart .icon {
  width: 70px;
  height: 70px;
  grid-area: c;
  align-content: center;
}
.heart p {
  grid-area: a;
  text-align: right;
}
.heart h4 {
  grid-area: b;
  font-size: 20px;
  text-align: right;
  color: #2f7adb;
}
.patch {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-template-areas:
    " a b "
    " c b";
  grid-gap: 10px;
}
.patch .icon {
  width: 70px;
  height: 70px;
  grid-area: c;
  align-content: center;
}
.patch p {
  grid-area: b;
  text-align: start;
}
.patch h4 {
  grid-area: a;
  font-size: 20px;
  text-align: left;
  color: #2f7adb;
}
.fall {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-template-areas:
    " a b "
    " a c ";
  grid-gap: 10px;
}
.fall .icon {
  width: 70px;
  height: 70px;
  grid-area: c;
}
.fall p {
  grid-area: a;
  text-align: right;
}
.fall h4 {
  grid-area: b;
  font-size: 20px;
  text-align: right;
  color: #2f7adb;
}
.stop {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-template-areas:
    " a b "
    " c b";
  grid-gap: 10px;
}
.stop .icon {
  width: 70px;
  height: 70px;
  grid-area: c;
  align-content: center;
}
.stop p {
  grid-area: b;
  text-align: start;
}
.stop h4 {
  grid-area: a;
  font-size: 20px;
  text-align: left;
  color: #2f7adb;
}
.geo {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-template-areas:
    " a b "
    " a c ";
  grid-gap: 10px;
}
.geo .icon {
  width: 70px;
  height: 70px;
  grid-area: c;
}
.geo p {
  grid-area: a;
  text-align: right;
}
.geo h4 {
  grid-area: b;
  font-size: 20px;
  text-align: right;
  color: #2f7adb;
}
.sound {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-template-areas:
    " a b "
    " c b";
  grid-gap: 10px;
}
.sound .icon {
  width: 70px;
  height: 70px;
  grid-area: c;
  align-content: center;
}
.sound p {
  grid-area: b;
  text-align: start;
}
.sound h4 {
  grid-area: a;
  font-size: 20px;
  text-align: left;
  color: #2f7adb;
}
.battery {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-template-areas:
    " a b "
    " a c ";
  grid-gap: 10px;
}
.battery .icon {
  width: 70px;
  height: 70px;
  grid-area: c;
  text-align: right;
}
.battery p {
  grid-area: a;
  text-align: right;
}
.battery h4 {
  grid-area: b;
  font-size: 20px;
  text-align: right;
  color: #2f7adb;
}
.material {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-template-areas:
    " a b "
    " c b";
  grid-gap: 10px;
}
.material .icon {
  width: 70px;
  height: 70px;
  grid-area: c;
  align-content: center;
}
.material p {
  grid-area: b;
  text-align: start;
}
.material h4 {
  grid-area: a;
  font-size: 20px;
  text-align: left;
  color: #2f7adb;
}
.button-footer {
  width: 150px;
  height: 30px;
  font-size: 15px;
  border-radius: 7px;
  margin-right: 15px;
}
.foot-logo {
  display: flex;
}
.logo-footer {
  padding-top: 10%;
  margin-left: 35%;
  width: 70px;
  height: 70px;
  grid-column: 2;
}
.background {
  background: #272727;
  color: white;
}
.subscribe {
  text-align: center;
}
form {
  height: 600px;
  flex-direction: column;
}
label {
  font-style: bold;
  font-size: 20px;
}
.input {
  margin-top: 20px;
  border-radius: 7px;
  height: 70%;
  border: none;
}

textarea {
  border-radius: 7px;
  margin-top: 20px;
}

.button-1 {
  margin: 30px;
  width: 150px;
  height: 40px;
  margin-bottom: 60px;
}

@media (min-width: 1000px) {
  p {
    color: #505050;
  }
  h3 {
    color: #505050;
  }
  h2 {
    color: #505050;
  }
  .join {
    color: white;
  }

  .produit-ombre {
    display: none;
  }
  .product-shadow {
    display: initial;
    margin-top: 7vh;
    width: 90vw;
    height: 89vh;
  }
  .produit-technique img {
    width: 100vw;
    height: 93vh;
  }
  section h3 {
    font-size: 30px;
  }
  section h2 {
    font-size: 50px;
    margin-top: 100px;
  }
  section p {
    font-size: 23px;
    margin: 0px 50px 0px 50px;
  }
  .feat section:nth-of-type(even) {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    grid-template-areas:
      " a b "
      " c b ";
    grid-gap: 30px;
    margin: 100px 100px 0px 350px;
  }
  .feat section:nth-of-type(even) p {
    font-size: 26px;
  }
  .feat section:nth-of-type(odd) {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    grid-template-areas:
      " a b "
      " a c ";
    grid-gap: 30px;
    margin: 100px 250px 0px 250px;
  }
  .feat section:nth-of-type(odd) p {
    font-size: 26px;
  }
  .feat section:nth-of-type(odd) .icon {
    width: 70px;
    height: 70px;
    grid-area: c;
    text-align: end;
  }
  .feat {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .memory {
    display: grid !important;
    grid-template-columns: 2 !important;
    grid-template-rows: 2 !important;
    grid-template-areas:
      " a b "
      " c b " !important;
    grid-gap: 30px !important;
    margin: 100px 250px 0px 350px !important;
  }
  .memory p {
    grid-area: b;
  }
  .memory .icon {
    grid-area: c;
  }
  .memory h4 {
    grid-area: a;
  }
  section .material {
    padding-bottom: 100px;
  }
}
